<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863445215192-1r49phvtca2qf4d1bbudff9aouleh8i0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863445215192-1r49phvtca2qf4d1bbudff9aouleh8i0</string>
	<key>API_KEY</key>
	<string>AIzaSyAz6v4n7uemVU2L_d1WaSHYt_JMkhPbBSk</string>
	<key>GCM_SENDER_ID</key>
	<string>863445215192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kr.tootoomaa.LeagueOfWalk</string>
	<key>PROJECT_ID</key>
	<string>leagueofwalk</string>
	<key>STORAGE_BUCKET</key>
	<string>leagueofwalk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863445215192:ios:018c08514184d75e5434ad</string>
	<key>DATABASE_URL</key>
	<string>https://leagueofwalk.firebaseio.com</string>
</dict>
</plist>